body {
  /* font-family: "Open Sans", sans-serif; */
  /* font-family: "Do Hyeon", sans-serif; */
  /* font-family: "Noto Sans KR"; */
  /* font–family: "Nanum Gothic"; */
  /* font-family: 'Black Han Sans', sans-serif;
  font-family: 'Jua', sans-serif; */
  padding-top: 63px;
  padding-bottom: 63px;
}

html {
  font-family: sans-serif;
  color: #4b5f65;
  /* background: #f5f7fa; */
}

main {
  animation: 2s bodyPopIn ease-in-out;
}

@keyframes bodyPopIn {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
